body,html {
	width:100%;
	height:100%;
	padding:0;
	margin:0;
}
/* Clear */
.clear {
	clear:both;
}

/* popup styling */
#popup {
	width:100%;
	height:100%;
	display:none;
}

#popup .overlay{
	background-color: grey;
	opacity:0.3;
	width:100%;
	height:100%;
}

#popup .popup-content-wrapper{
	position:fixed;
	left:50%;
	top:50%;
	padding:5px;
	display:block;
	border:1px solid grey;
	border-radius:5px;
	background-color:white;
}

#popup .popup-content{

}
#popup .popup-buttons{

}


/* Menu */
.menu {
	display:block;
	width:100%;
}
.menu ul {
	list-style-type: none;
	margin: 0;
	padding: 0;

}

.menu ul li {
	margin-left:10px;
	float:left;
}

/* Graphs container */
.graphs-container {
	width:100%;
	min-height: 500px;
	display:block;
}

canvas {
	box-sizing: border-box;
	border:1px solid black;
	margin:5px;
}